body {
  /* font-family: 'Rubik', sans-serif; */
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 40px;
  margin: 2px;
  text-transform: uppercase;
  color: #999;
}

h2 {
  font-size: 50px;
  margin: 2px;
  margin-top: 10px
}

h3 {
  font-size: 80px;
  margin: : 2px;
  margin-top: 0;
  margin-bottom: 0;
}

div {
  margin: 0px;
  padding: 0px;
}
