body {
  /* font-family: 'Rubik', sans-serif; */
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 40px;
  margin: 2px;
  text-transform: uppercase;
  color: #999;
}

h2 {
  font-size: 50px;
  margin: 2px;
  margin-top: 10px
}

h3 {
  font-size: 80px;
  margin: : 2px;
  margin-top: 0;
  margin-bottom: 0;
}

div {
  margin: 0px;
  padding: 0px;
}

#div-11-downtown {
  color: #ce9f02;
}

#div-11-bayview {
  color: #70319e;
}

#div-9-citypoint {
  color: #a81e25;
}

#div-10-citypoint {
  color: #666;
}

#div-77-harvard {
  color: #158c28;
}

#div-77-arlington {
  color: #15488c;
}
